.quotecontainer{
	text-align:center;
	padding:20px 30px;
}

.pullquote{
	font:italic 110%/130% "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:1.2em;
}

.pullquote p{ margin-bottom:10px; }

.rightquote, .leftquote{ max-width:30%; }
.rightquote{ float:right; }
.leftquote{ float:left; }

.quoteauthor{
	text-transform:uppercase;
	font-family:sans-serif;
	font-size:0.8em;
}